:root {
  --white: #fcfcfc;
  --black: #222;
}

html {
  font-family: Roboto Slab, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  background-color: var(--white);
  color: var(--black);
}

body {
  margin: 0;
}

h1 {
  font-family: Josefin Sans;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: Josefin Sans;
  text-transform: uppercase;
  margin: 0.2rem;
}
